
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: hoges.samplecontroller.example.com
spec:
  group: samplecontroller.example.com
  names:
    kind: Hoge
    listKind: HogeList
    plural: hoges
    singular: hoge
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Hoge is the Schema for the hoges API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: HogeSpec defines the desired state of Hoge
            properties:
              deploymentName:
                description: the name of deployment which is owned by hoge
                format: string
                type: string
              replicas:
                description: the replicas of deployment which is owned by hoge
                format: int32
                type: integer
            required:
            - deploymentName
            type: object
          status:
            description: HogeStatus defines the observed state of Hoge
            properties:
              availableReplicas:
                description: this is equal deployment.status.availableReplicas
                format: int32
                type: integer
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
